body{
    font-family: sans-serif;
    font-family: Arial, Helvetica, sans-serif;
}
.cabecalho {
    background: #CCD5AE;
}
.logo{
width: 500px; 
position: relative; 
top: 150px; 
left: 800px; 
}
.listacabecalho{
    display: flex;
    position: relative;
    left: 600px;
} 
.item{
    font-size: 50px;
    color: blueviolet;
    margin-left: 350px;

}
.grupodeestudo{
background-image: linear-gradient(#CCD5AE,#D8D4BB);
}
.secaocursita{
    background-color: #FEFAE0;

}
.titulocursista{
    font-size: 30px;
    font-family: Verdana;
    color: green;
    text-align: center;
}
.cursitasdiv{
    margin: 60px;
}


